* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

ul {
list-style: none;
display: flex;
gap: 30px;
}

a {
outline: none;
text-decoration: none;
color: #fff;
}


body {
padding-top: 50px;
background-color: #212527;
font-family: 'Roboto' , sans-serif;
}


main {
min-height: 300vh;
}


.dropdown-menu {
background-color: #212527;
color: #fff;
}

.dropdown-item {
color: #fff;
}

.dropdown-item:hover {
background-color: #242E33;
color: #3d71ff;

}

/*PAGINA PRINCIPAL BANNER*/

.adicional {
width: 100%;
height: 210px;
background-color: #212527;
font-family: 'Helvetica', sans-serif;
font-weight: 100;
color: #3d71ff;
text-align: center;
padding-top: 10px;

}

.divisor {
display: flex;
justify-content: space-around;
}


.recuadro1 {
width: 100px;
height: 100px;
background-image: url(../img/jpg/far-cry-6_button.jpg);
border-radius: 20px;
background-size: cover;
margin: 30px 30px; 
}

.recuadro2 {
    width: 100px;
    height: 100px;
    background-image: url(../img/jpg/returnal-xs.webp);
    border-radius: 20px;
    background-size: cover;
    margin: 30px 30px; 
    }

    .recuadro3 {
        width: 100px;
        height: 100px;
        background-image: url(../img/jpg/RE-VILLAGE-xs.webp);
        border-radius: 20px;
        background-size: cover;
        margin: 30px 30px; 
        }

        .recuadro4 {
            width: 100px;
            height: 100px;
            background-image: url(../img/jpg/spiderman-xs.webp);
            border-radius: 20px;
            background-size: cover;
            margin: 30px 30px; 
            }

            .recuadro5 {
                width: 100px;
                height: 100px;
                background-image: url(../img/jpg/Horizon-xs.webp);
                border-radius: 20px;
                background-size: cover;
                margin: 30px 30px; 
                }

                .recuadro6 {
                    width: 100px;
                    height: 100px;
                    background-image: url(../img/jpg/fifa22-xs.webp);
                    border-radius: 20px;
                    background-size: cover;
                    margin: 30px 30px; 
                    }



.recuadro__nombre {
display: flex;
justify-content: center;
align-items: center;
width: 100px;
height: 100px;
color: rgba(0, 0, 0, 0);
transition: all 100ms;

}

.recuadro:hover {
 margin-bottom: 10px;

}

.recuadro__nombre:hover {
width: 100px;
height: 100px;
border-radius: 20px;
background: rgba(33, 37, 41, 0.9);
font-family: sans-serif;
background-size: cover;
color: #fff;
display: flex;
align-items: center;
border: solid 2px #3d71ff;
}


/*JUEGOS INDIVIDUALES DE MUESTRA*/

/*FARCRY 6*/

.farcry-contain {
    width: 100%;
    height: 750px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%),
    url(../img/jpg/far-cry-6-wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    
    }
    
    .game-p1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    }
    
    .game-logo{
    width: 200px;
    height: 150px;
    
    }
    
    
    .logo-desarrollador3 {
    width: 130px;
    height: 80px;
    }
    
    .logo-clasificacion {
    width: 40px;
    height: auto;
    }
    
    .game-add span {
    color: #fff;
    }
    
    .game-p2 {
    width: 50%;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    }
    
    .game__price {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    }

    .game__price span {
    font-size: 2em;
    }

    .game__price button {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: #3d71ff;
    }

    .game__price button:hover {
    background-color: #3d71ff;
    color: #fff;
    }
    
/*PAGINA PRINCIPAL PRESENTACIÓN PS5*/

.section1 {
height: 1400px;
background-color: #212527;
}


.tarjeta-1 {
width: 100%;
height: 500px;
color: #fff;
background-color:#242E33;
display: flex;
flex-direction: row;
text-align: center;
align-items: center;
margin-bottom: 100px;

}

.standard-p1 {
width: 50%;
margin: 40px;
text-align: justify;
}


.standard-p2 {
width: 50%;
height: 500px;
margin: 0;
padding: 0;
background-image: url(../img/png/Horizon-FW.png);
background-repeat: no-repeat;
background-size: cover;
}

.standard-p2 img{
width: 550px;
height: 550px;
}


.tarjeta-2 {
    width: 100%;
    height: 500px;
    color: #fff;
    background-color:#242e33;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;   
    }
    
    .digital-p1 {
    width: 50%;
    margin: 40px;
    text-align: justify;
    }
    
    .digital-p2 {
    width: 50%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-image: url(../img/png/marvel-spiderman-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    }
    
    .digital-p2 img{
    width: 550px;
    height: 550px;
    }
    
    .buttons {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .button__style {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(36 ,46,51,0.4) 0%, rgba(36,46,51,0.4) 100%);
    color: #fff;
    transition: all 200ms;
    }

    .button__style:hover {
    margin-bottom: 5px;
    outline: solid 2px #3d71ff;
    color: #3d71ff;
    }
   

/*PAGINA DE JUEGOS EXCLUSIVOS*/


/*RATCHET & CLANK*/

.section-exclusive {
width: 100%;
height: 900px;
background-color: #242E33;
margin-bottom: 70px;
}

.banner-ryc {
width: 100%;
height: 400px;
background: linear-gradient(0deg, rgba(36 ,46,51,0.4) 0%, rgba(36,46,51,0.4) 100%),
url(../img/jpg/ratchet&Clank-banner.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;

}

.card1 {
width: 50%;
display: flex;
justify-content: left;
}

.card1__img {
width: 350px;
height: 350px;
margin-top: 40px;
animation-name: fader;
animation-duration: 2s;
animation-fill-mode: forwards;
}

@keyframes fader {
 0% {
    width: 350px;
    height: 350px;
    margin-left: 0px;
 }
 100% {
    width: 450px;
    height: 450px;
    margin-left: 150px;
 }
}


.card2 {
width: 50%;
margin-top: 40px;
}

.video iframe {
border-radius: 20px;
box-shadow: 2px 2px 10px #000;
}

.description-game {
color: #fff;
margin-top: 90px;
margin-left: 70px;
margin-right: 70px;
display: flex;
flex-direction: column;
gap: 30px;
text-align: center;
}

.game__especific {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 30px;
}

.game__especific img {
width: 60px;
height: 90px;
}

.game__especific span {
font-family: sans-serif;
font-weight: 100;
margin-left: 10px;
}

.precio {
margin-top: 40px;
color: #3d71ff;
display: flex;
justify-content: center;
gap: 50px;
align-items: center;
}

.precio span {
font-size: 1.5em;
}

.precio button {
width: 150px;
height: 50px;
border: none;
border-radius: 10px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
color: #3d71ff;
}

.precio button:hover {
outline: 2px solid #3d71ff;
}


/*SPIDERMAN MILES MORALES*/

.banner-spiderman {
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(36 ,46,51,0.4) 0%, rgba(36,46,51,0.4) 100%),
    url(../img/png/spiderman-city.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    display: flex;
    
    }
    
    .card1-spiderman {
    width: 50%;
    display: flex;
    justify-content: left;
    }
    
    .card1-spiderman__img {
    width: 450px;
    height: 350px;
    margin-top: 40px;
    animation-name: fader;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    }
    
    @keyframes fader {
     0% {
        width: 450px;
        height: 350px;
        margin-left: 0px;
     }
     100% {
        width: 550px;
        height: 450px;
        margin-left: 50px;
     }
    }
    
    
    .card2.spiderman {
    width: 50%;
    margin-top: 40px;
    }
    
    .video2 {
    margin-top: 30px;
    }

    .video2 iframe {
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000;
    }

/*PROXIMOS TITULOS PS5*/

.proximos-titulos {
color: #fff;
font-size: 2.5em;
text-align: center;
margin-bottom: 100px;
font-weight: bold;
}

/*STRAY*/
.stray-contain {
width: 100%;
height: 450px;
background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%),
url(/public/img/jpg/stray.jpg) no-repeat;
background-size: cover;
background-position: bottom;
display: flex;
margin-bottom: 80px;

}

.game-p1 {
width: 50%;
height: 100%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
padding: 40px;
gap: 20px;
}

.game-logo{
width: 200px;
height: 150px;

}

.game-p1 p {
color: #fff;
text-align: justify;
font-weight: 300;
}

.game-add {
display: flex;
justify-content: center;
gap: 100px;
align-items: center;
}

.logo-desarrollador {
width: 50px;
height: 50px;
}

.logo-clasificacion {
width: 40px;
height: auto;
}

.game-add span {
color: #fff;
}

.game-p2 {
width: 50%;
height: 100%;
padding: 40px;
display: flex;
justify-content: center;
flex-direction: column;
gap: 20px;
}

.game-p2 iframe {
border-radius: 20px;
}

.game-p2 span {
font-weight: 300;
}

/*HORIZON FORBIDDEN WEST*/

.horizon-contain {
    width: 100%;
    height: 450px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%),
    url(/public/img/jpg/Horizon-forbidden-west-banner.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    margin-bottom: 80px;
}

.game-logo2{
    width: 350px;
    height: 120px;
    
    }

/*GOD OF WAR RAGNAROK*/

    .ragnarok-contain {
        width: 100%;
        height: 450px;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%),
        url(/public/img/jpg/god-of-war-ragnarok.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        margin-bottom: 80px;
    }
    
    .game-logo3{
        width: 390px;
        height: 130px;
        
        }

    .logo-desarrollador2 {
    width: 100px;
    height: 80px;
    }

/*MARVEL SPIDER-MAN 2*/

    .spiderman2-contain {
        width: 100%;
        height: 450px;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%),
        url(/public/img/jpg/marvel-spiderman-2-banner.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        margin-bottom: 80px;
    }
    
    .game-logo4{
        width: 390px;
        height: 130px;
        
        }

    .logo-desarrollador2 {
    width: 100px;
    height: 80px;
    }
/*WHATSAPP FLOTANTE*/

.WhatsApp {
right: 15px;
bottom: 25px;
position: fixed;
}

.wp-box {
width: 90px;
height: 90px;
border-radius: 50%;
background-color: #3d71ff;
font-size: 4em;
display: flex;
justify-content: center;
align-items: center;
}

.WhatsApp a i {
color: #fff;
}

/*FOOTER*/

.pie {
width: 100%;
height: 200px;
background-color: #212527;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
margin-top: 10px;
box-shadow: 0px 2px 5px #333;
}

.social-media {
margin: 0;
padding: 0;
}

.social-media a {
color: #ddd;
}

a:hover {
color: #3d71ff;
}

.pie span {
color: #ddd;
}

.pie img {
width: 120px;
}


/*PAGINA DE CONTACTO*/

.caja-contacto {
margin-top: 50px;
margin-bottom: 50px;
padding: 20px 20px;


background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%),
url(/public/img/jpg/contact.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;


border-radius: 20px;
}

.contacto {
color: #3d71ff;
text-align: center;
}

label {
color: #fff;
}

.col-12 , .col-6 {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 30px;
}


.form input {
width: 250px;
margin-bottom: 10px;
border-radius: 5px;
border: none;
color: #fff;
background: linear-gradient(0deg, rgba(33,37,41,0.4) 0%, rgba(33,37,41,0.4) 100%);

}

input textarea:hover {
outline: solid 2px #3d71ff ; 
}

.mensaje textarea {
width: 250px;
max-height: 150px;
margin-bottom: 20px;
border: none;
border-radius: 5px;
color: #fff;
background: linear-gradient(0deg, rgba(33,37,41,0.4) 0%, rgba(33,37,41,0.4) 100%);
}

.submit input {
width: 200px;
height: 50px;
margin-top: 50px;
background-color: #3d71ff;
color: #fff;
border: none;
border-radius: 10px;

}

.title__map {
color: #3d71ff;
text-align: center;
}

.map {
width: 100%;
margin-top: 30px;
}

/*PAGINA DE ACCESORIOS PS5*/


/*SECCIÓN JOYSTICKS DUALSENSE*/

.seccion-joysticks {
height: 170vh;
background: linear-gradient(0deg, rgba(36, 46, 51, 0.5) 0%, rgba(36,46,51,0.5) 100%),
url(../img/jpg/322494.jpg); 
padding-top: 10px;
}

.contenido {
    width: 100%;
    height: 350px;
    margin-top: 70px;
    background: linear-gradient(0deg, rgba(36, 46, 51, 0.2) 0%, rgba(36,46,51,0.4) 100%),
    url(../img/jpg/dualsense-background.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 90px;
    align-items: center;
   
    
}

.joystick-p1 {
width: 50%;

}

.joystick-p1 img {
width: 750px;
height: 750px;
}

.joystick-p2 {
width: 50%;
}

.joystick-p2 iframe {
 border-radius: 20px;
 width: 500px;
 height: 270px;
 box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
}

.joysticks-description {
display: flex;
flex-direction: column;
text-align: center;
color: #fff;
margin-top: 60px;
margin-right: 30px;
margin-left: 30px;
}

.joysticks-description h3 {
font-size: 5em;
}

.joysticks-description h4 {
font-size: 1.2em;
margin-top: 30px;
}


.joy-content {
width: 200px;
height: 318px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 20px;
background: linear-gradient(0deg, rgba(36, 46, 51, 0.4) 0%, rgba(36,46,51,0.4) 100%),
url(../img/jpg/cosmic-red.jpg);
box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
margin-top: 80px;
transition: all 200ms;
}

.joy-content:hover {
margin-top: 50px;
}

.cosmic {
width: 150px;

}


.logo-ps5 {
width: 80px;
height: 30px;
}

.compra {
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
background-color: #590219;
padding: 30px;
width: 100%;
border-radius: 0px 0px 20px 20px;

}

span {
color: #fff;
}

.compra button {
border: none;
padding: 5px;
border-radius: 5px;
}

.compra button:hover {
background-color: #3d71ff;
color: #fff;
}

.joy-content2 {
    width: 200px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(36, 46, 51, 0.4) 0%, rgba(36,46,51,0.4) 100%),
    url(../img/jpg/322494.jpg);
    background-size: cover;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    margin-top: 80px;
    transition: all 200ms;
    }

    .joy-content2:hover {
        margin-top: 50px;
        }
    
.midnight {
width: 150px;
}

.compra2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #040113;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    
    }

    .compra2 button {
        border: none;
        padding: 5px;
        border-radius: 5px;
        }
        
        .compra2 button:hover {
        background-color: #3d71ff;
        color: #fff;
        }

/*OTROS ACCESORIOS*/

.lista-accesorios {
color: #3d71ff;
text-align: center;
margin-top: 60px;
font-size: 3em;
}

.accesories-contain {
    width: 200px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #242E33;
    background-size: cover;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    margin-top: 80px;
    transition: all 200ms;
}

.accesories-contain:hover {
    margin-top: 50px;
    }

.compra3 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1957ff;
    padding: 30px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    
    }

    .compra3 button {
        border: none;
        padding: 5px;
        border-radius: 5px;
        }
        
        .compra3 button:hover {
        background-color: #3d71ff;
        color: #fff;
        }

.dualsense, .headphone-white, .headphone-black, .camara, .control-remoto, .cargador {
width: 150px;
}



